In [21]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [18]:
nsentences = [5,4,3,2,1]
return_text = [[['w']*int(s+1) for s in range(nsentences[a])] for a in range(len(nsentences))]

df = pd.DataFrame(return_text,index=None,columns=None)#['a1','a2','a3','a4','a5'])

In [19]:
df.head()

     0       1          2             3                4
0  [w]  [w, w]  [w, w, w]  [w, w, w, w]  [w, w, w, w, w]
1  [w]  [w, w]  [w, w, w]  [w, w, w, w]             None
2  [w]  [w, w]  [w, w, w]          None             None
3  [w]  [w, w]       None          None             None
4  [w]    None       None          None             None

<h3>Testing NLProcessor...</h3>

In [20]:
# connect to postgresql db
username = 'kimberly'
dbname = 'medium'

dbe = create_engine('postgres://%s@localhost/%s'%(username,dbname))

NameError: name 'create_engine' is not defined

In [ ]:
# get df, drop missing data
df = pd.read_sql('articles', dbe, index_col='postid')
df = df.dropna(axis=0,how='any')